* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.font__alfa {
    color: #3D2514;
    text-shadow: 2px 2px white;
    font-family: 'Alfa Slab One', cursive;
}

.font__bebas {
    color: #3D2514;
    font-family: 'Bebas Neue', cursive;
}

.font__montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

.front-page {
    background-image: url(./image/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.delivery-express {
    position: absolute;
    right: 4.2rem;
    top: 3rem;
}

.delivery-express img {
    width: 25px;
    margin-right: 0.5rem;
}

.nav-item a {
    color: #3D2514;
    font-size: 1.313rem;
    font-family: 'Bebas Neue', cursive;
    margin-left: 3rem;
}

.content-left p {
    border: 2px dashed black;
    padding-left: 1rem;
    width: 65%;
}

.card__item {}

.card__body {
    position: relative;
    border: 2px solid white;
}

.card__body img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.card__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
}

.card__text p,
h4 {
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    margin: 0;
    color: white;
}

.card {
    border: none !important;
}

.fa {
    color: black;
}

.reservation__card__heading{
   
    position: relative;
    box-sizing: border-box;
    
}
.reservation__form{
    position: relative;
    z-index: 1;
  } 

.img__burger{
    position: absolute;
    top: 0;
    left: -2rem;
    width:250px;
    height: 250px;
   

}
.img__bottle{
    position: absolute;
    width:100px;
    height: 200px;
    left: 9rem;
    bottom: 2rem;
    

}
.img__setMenu{
    position: absolute;

    bottom: -5rem;
    right: -7rem;
    width:300px;
    height: 300px;

    
}
.about__and__contact{

    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("./image/contactus-img.jpg");
    background-position: center;
    background-size: cover;
    height:500px;
    position: relative;
    z-index: -1;

}



.footer{
    position: absolute;
    bottom:0;
}
.footer__icon{
    position: absolute;
    bottom:1rem;
    right:2rem;
}
.footer__icon a{
    background-color: white;
    color: #3D2514;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height:30px;
    margin: 0 5px;
    
}
@media(max-width:576px){
    .footer__icon{
        position: absolute;
        bottom:1rem;
        right:1rem;
    }
    .footer__icon a{
        background-color: white;
        color: #3D2514;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height:25px;
        margin: 10px 0px;
        
    }
    .navbar-brand img{
        width:200px;
    }
}
@media(max-width: 450px){
    .navbar-brand img{
        width:150px;
    }
}
@media(max-width: 992px){
    .delivery-express {
        position: absolute;
        right: 4.2rem;
        top: 6rem;
        
    }
  
    .content-left p {
       font-size: 1rem;
       width: 100%;
    }
}

/* nav-contact {
    position: relative;
}

.express-delivery {
    position: absolute;
    right: 0px;
}. */